.dataTables_wrapper {}

.dataTables_wrapper .dataTables_length {
    display: none;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

.oe_form_container > .oe_form .oe_form_nosheet > h1 {
    max-height: 30px;
}
.oe_form_container > .oe_form .oe_form_nosheet > h1 > label.oe_form_label {
    font-size: 17px;
}
.openerp .oe_form .oe_form_field_text textarea.field_text {
    height: 70px !important;
}
.custom-inline-group h1 {
    display: flex;
    align-items: center;
}
.custom-inline-field{
        margin-left: -1200px;
}
.supplier-inline-field{
        margin-left: -600px;
}

text.input[type="text"]{
max-width: 182px
}
.container{
    text-align:center;
}
.payment_total_calculation{
    text-align:right;
}
.oe_form_label{
    font-size: 16px;
}
.oe_form_text_content{
     font-size: 16px;
}
.oe_form_label_help{
    font-size: 16px;
}
.oe_sortable{
    font-size: 16px;
}
.modal-content {
    width: 1150px;
    position: absolute;
    left: -15%;
    top:235px;

}
.openerp .oe_list .oe_form_container .oe_form .oe_form_container.oe_form_nosheet span.oe_form_field.required_class input {
    background-color: #D2D2FF !important;
}
.oe_form_uri{
     font-size: 16px;
}
.field_text{
    height: 28px;
}
.openerp .oe_application .oe_breadcrumb_title > * {
         font-size: 16px;

}
.oe_form_field{
           font-size: 16px;
}
.oe_list_header_columns{
       font-size: 16px;
}
.oe_list_field_cell{
      font-size: 16px;
}
input[type=text] {
    text-transform: uppercase;
}
.openerp.openerp_webclient_container {
    overflow: hidden;
}
.openerp .oe_form .oe_form_button {
    float: right;
    margin:left: 10px;
}
.openerp .oe_form > .oe_form_nosheet header ul:not(.oe_tooltip_technical):not(.oe_dropdown_menu) {
    float: left;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_view_manager_sidebar {
    float: inline-end;
}

.creation_password {
    font-family: 'arial';
    color: transparent;
    letter-spacing: 5px;
    -webkit-text-security: disc; /* WebKit browsers (Chrome, Safari) */
    text-security: disc; /* Standard property, works in Firefox */
    padding: 3px;
    border: none;
}
span.oe_form_field.oe_datepicker_root.oe_form_field_date.custom-field {
    margin-left: -800px;
}
